<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/xmlns"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xml:lang="ja-JP"
      dir="ltr">
  <xi:include href="./foundation.html"/>
  <head>
    <title>${page.name} (Edit mode) - ${application_name}</title>
  </head>

  <body>
    <header>
      <h1><a href="/">${application_name}</a></h1>

      <section class="message ${message.type}" py:if="message">
        <p>${message.text}</p>
      </section>
    </header>

    <nav id="edit"/>

    <article>
      <form action="${page.path.edit}" method="post">
        <h1>
          <input type="text" name="name" value="${page.name}"/>
          (Edit mode)
        </h1>

        <section>
          <textarea name="content">${page.entity.content}</textarea>
        </section>

        <input type="hidden" name="format" value="markdown-extra"/>
        <input type="submit" value="保存"/>
        <input type="button" value="エントリを削除" onclick="location.href='${page.path.remove}'"/>
        <input type="button" value="キャンセル" onclick="location.href='${page.path.view}'"/>
      </form>
    </article>

    <aside/>

    <br class="clear"/>

    <footer/>
  </body>
</html>
